@use '../../styles/break-points' as *;
@use '../../styles/colors' as *;
@use '../../styles/type' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global' as *;

.profile {
    padding: 10rem 6rem; 
    min-height: 100vh;
    background-color: $Columbia-Blue; 
    display: flex;
    flex-direction: column;
    align-items: center;


    &__info {
        margin-bottom: 2rem; 
    }

    &__info-header {
        color: darken($Bice-Blue, 10%); 
        font-size: 2.5rem; 
        text-align: center; 
        margin-bottom: 1rem; 
    }

    &__update {
        width: 50%; 
        padding: 2.5rem; 
        border-radius: 1.5rem; 
        background-color: rgba($White, 0.95); 
        box-shadow: 0 1rem 2rem rgba($Black-Russian, 0.2); 
        transition: box-shadow 0.3s ease; 
        margin-top: 1rem;
        &:hover {
            box-shadow: 0 1.5rem 3rem rgba($Black-Russian, 0.3); 
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem; 
    }

    &__form-input-label {
        color: $Bice-Blue; 
        font-weight: 500; 
    }

    &__form-input {
        padding: 0.75rem; 
        border: none;
        border-radius: 0.5rem;
        background-color: rgba($White, 0.9); 
        box-shadow: 0 0.15rem 0.25rem rgba($Black-Russian, 0.1); 
        transition: box-shadow 0.3s ease; 
        color: $Black-Russian;

        &:focus {
            box-shadow: 0 0 0.5rem rgba($Bice-Blue, 0.5); 
            outline: none; 
        }
    }

    &__form-button-container {
        display: flex;
        justify-content: center; 
    }

    &__form-button {
        margin-top: 1rem;
        background-color: $Bice-Blue; 
        color: $White;
        font-weight: 600; 
        padding: 0.75rem 1.5rem; 
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: darken($Bice-Blue, 5%); 
            transform: translateY(-0.125rem); 
        }

        &:active {
            background-color: darken($Bice-Blue, 10%); 
            transform: translateY(0);
        }
    }
}