$White: #FFFF;
$Columbia-Blue: #b9d6f2;
$Oxford-Blue: #061a40;
$Sapphire: #0353a4;
$Bice-Blue: #006daa;
$Prussian-Blue: #003559;
$Dark-Royal-Blue: #090979;
$Aqua-Blue: #00d4ff;
$Black-Russian: #020024;
$Black: #000000;

$Light: #f9f9f9; 
$Whitish: #ddd; 
$Dark: #333; 
$White-Gray: #f1f1f1; 
$Primary-Blue: #007bff; 
$Brown-Gray: #555; 