

.Rotating-svg-container {
    position: fixed; 
    left: -4%;
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 10rem;
    height: 100vh;

    &__content{
        animation: rotate 5s linear infinite; 
        width: 9.375rem; 
        height: auto; 
    
        @keyframes rotate {
            from {
                transform: rotate(0deg);
              }
            to {
                transform: rotate(360deg);
              }
          }
    }


}