

.Rotating-svg-container {
    position: fixed; // Fix the position to the viewport
    left: -3%;// Align to the left edge of the screen
    bottom: 0; // Align to the bottom of the screen
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 10rem;
    height: 100vh; // Optional: Center vertically in the viewport

    &__content{
        animation: rotate 5s linear infinite; // Apply the bounce animation
        width: 150px; // Set a width for the SVG
        height: auto; // Maintain aspect ratio
    
        @keyframes rotate {
            from {
                transform: rotate(0deg); // Start rotation
              }
            to {
                transform: rotate(360deg); // Complete rotation
              }
          }
    }


}